In [5]:
import pandas as pd

In [7]:
data = pd.read_csv("/Users/aarushinishantsingh/Downloads/iris/iris.csv")
print(data.shape)
data.isnull().sum()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa
(150, 5)

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [19]:

data.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [21]:
data.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [23]:
data.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [15]:
num_data = data.select_dtypes(include="number")

In [17]:
print(num_data)

     sepal.length  sepal.width  petal.length  petal.width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [33]:
import statistics 
df = num_data.values.tolist()
for i in range(len(data[0])):  # Iterate over columns
    column_data = [row[i] for row in df]
    print(f"Column {i + 1} :")
    print(f"Mean: {statistics.mean(column_data)}")
    print(f"Median: {statistics.median(column_data)}")
    print(f"Mode: {statistics.mode(column_data)}")

Column 1 :
Mean: 5.843333333333334
Median: 5.8
Mode: 5.0
Column 2 :
Mean: 3.0573333333333332
Median: 3.0
Mode: 3.0
Column 3 :
Mean: 3.758
Median: 4.35
Mode: 1.4
Column 4 :
Mean: 1.1993333333333334
Median: 1.3
Mode: 0.2

In [51]:
data = pd.read_csv("/Users/aarushinishantsingh/Downloads/iris/iris.csv")
print("Column names in the dataset:", data.columns)
data.loc[0, 'sepal.length'] = None
data.loc[10, 'sepal.width'] = None
print(data.isnull().sum())

Column names in the dataset: Index(['sepal.length', 'sepal.width', 'petal.length', 'petal.width',
       'variety'],
      dtype='object')
sepal.length    1
sepal.width     1
petal.length    0
petal.width     0
variety         0
dtype: int64

In [59]:
for col in num_data:
    mean_value = statistics.mean(data[col].dropna())
    data[col] = data[col].fillna(mean_value)
print("\nAfter replacing missing values:")    
print(data.head(15))

After replacing missing values:
    sepal.length  sepal.width  petal.length  petal.width variety
0       5.848322      3.50000           1.4          0.2  Setosa
1       4.900000      3.00000           1.4          0.2  Setosa
2       4.700000      3.20000           1.3          0.2  Setosa
3       4.600000      3.10000           1.5          0.2  Setosa
4       5.000000      3.60000           1.4          0.2  Setosa
5       5.400000      3.90000           1.7          0.4  Setosa
6       4.600000      3.40000           1.4          0.3  Setosa
7       5.000000      3.40000           1.5          0.2  Setosa
8       4.400000      2.90000           1.4          0.2  Setosa
9       4.900000      3.10000           1.5          0.1  Setosa
10      5.400000      3.05302           1.5          0.2  Setosa
11      4.800000      3.40000           1.6          0.2  Setosa
12      4.800000      3.00000           1.4          0.1  Setosa
13      4.300000      3.00000           1.1          0.1  Setosa
14      5.800000      4.00000           1.2          0.2  Setosa

In [25]:
print(data.isnull().sum())

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [ ]:
df = pd.read_csv("/Users/aarushinishantsingh/Downloads/earthquake_DP/all_month.csv")